.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.ml-10 {
    margin-left: 10px;
}

.border-bottom {
    border-bottom: 1px solid #cccccc;
}